@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;  
}

html{
    scroll-behavior: smooth;
    background-image: url("https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-de-concreto-vinheta-amarelo-pastel_53876-124561.jpg?t=st=1744472193~exp=1744475793~hmac=62e5719d6dc76b42eeb058476925e8b103975321230e3c5579d7608c5957da81&w=900");
    background-position: center;
    background-size: cover;
}

body{
    
    font-family: "Playfair display", serif;
}


header{
    background-color: #4d5382;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 120%;
    border-bottom: #262b4d solid 4px;
}

nav a{
    text-decoration: none;
    font-size: 180%;
    background-color: #8cba80;
    color: white;
    border-radius:8px;
    padding: 14px 3rem;
    position: relative;
    top: 1.5rem;
    border: solid 2px #496842;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a:hover{
    background-color: #cacf85;
    color: black;
}
.inicio{
    color: #4d5382;
    font-size: 300%;
    position: relative;
    top: 4rem;
    padding: 2rem;
}

.p1{
    font-size: xx-large;
    padding: 2rem;
    text-align: justify;
    position: relative;
    top: 1rem;
    color: #262b4d;
}

.Sobre{
    color: #4d5382;
    font-size: 200%;
    position: relative;
    top: 4rem;
    padding: 2rem;
}

.Linhadotempo{
    color: #4d5382;
    font-size: 200%;
    position: relative;
    top: 4rem;
    padding: 2rem;
}

.Curi{
    color: #4d5382;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 4rem;
    padding: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400vh;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5rem;
    color: #262b4d;
}

a{
    text-decoration: none;
    color: #262b4d;
}

span{
    color: #496842;
}


.video-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txtCuri{
    color:#304f28;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 150%;
}